<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Product/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-gifts"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Product/AddProduct">
                    <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="/Customer/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Customer/AddCustomer">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                    Yeni Müşteri
                </a>
                <a class="nav-link" href="/Category/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>
                
                
                <a class="nav-link" href="/Job/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-won-sign"></i></div>
                    Meslekler
                </a> <a class="nav-link" href="/Settings/Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                    Ayarlar
                </a>
            </div>
        </div>
    </nav>
</div>